<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Bandit Dashboard</title>
  <%= javascript_include_tag "bandit/jquery.min.js" %>
  <%= javascript_include_tag "bandit/highstock.js" %>
</head>
<body>
<%= yield %>
</body>
</html>
